$mat-accordion-row-title-padding: 16px;

:host {

  width: 500px;
  box-shadow: 0px 0px 2px #888888;
  background-color: white;
  overflow: hidden;

  div.row-container {

    div.title-container {

      padding: $mat-accordion-row-title-padding;
      display: flex;

      span:first-child {
        padding-left: ($mat-accordion-row-title-padding / 2);
        font-size: 15px;
        color: RGBA(0, 0, 0, .87);
      }

      span {
        flex: 1 1 5em;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: center;
        padding-left: $mat-accordion-row-title-padding;
        color: RGBA(0, 0, 0, .54);
      }

      span:last-child {
        padding-right: ($mat-accordion-row-title-padding / 2);
        justify-content: flex-end;
        color: RGBA(0, 0, 0, .38);
        md-icon {
          cursor: pointer;
        }
      }

    }

    hr {
      height: 1px;
      background-color: RGBA(0, 0, 0, .12);
      border: none;
      padding: 0;
      margin: 0;
    }

  }

}
