<div
  fxAlign="column"
  class="row-container"
  [@expandCollapse]="expandOrCollapse()"
  (@expandCollapse.done)="handleCollapseAnimDone($event)">
  <div class="title-container">
    <span>Title</span>
    <span>Subtitle</span>
    <span>
      <md-icon
        tabindex="0"
        (click)="openUp()"
        (keydown.enter)="openUp()"
        [@rotate]="expandOrCollapse()">
          keyboard_arrow_down
      </md-icon>
    </span>
  </div>
  <div *ngIf="canShowContent">
    <accordion-row-content></accordion-row-content>
    <hr>
    <accordion-button-shelf></accordion-button-shelf>
  </div>
</div>
